@{
    @model List<RealTimeStockSimulator.Models.Asset>
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using static RealTimeStockSimulator.Models.Enums.NavEnabled

    ViewData["title"] = "Assets";
    ViewBag.NavEnabled = Assets;
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Assets
    </h1>
    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th>
                    Asset
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Asset asset in Model)
            {
                <tr>
                    <partial name="_AssetTdCosmetics" model=asset />
                    <td>
                        @asset.Symbol
                    </td>
                    <td>
                        @asset.Type
                    </td>
                    <td data-price-symbol="@asset.Symbol" data-price="@FormatDecimalToJsDecimal(asset.AssetPriceInfos.Price)">
                        $@FormatDecimalPrice(asset.AssetPriceInfos.Price)
                    </td>
                    <td>
                        <a class="btn primary-custom-btn" href="/Assets/Buy/@asset.Symbol">Buy</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />
<partial name="_MarketConnectionScripts" />