@{
    @model Ownership
    @inject RealTimeStockSimulator.Models.Interfaces.IStringFormatter stringFormatter
    @using System.Text.Json

    ViewData["title"] = "Portfolio";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Portfolio
    </h1>
    <h2>
        Total value: <span class="TotalOwnershipValue">$@stringFormatter.FormatDecimalPrice(@Model.TotalOwnershipValue)</span>
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Amount owned
                </th>
                <th>
                    Value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{foreach (OwnershipTradable tradable in Model.Tradables)    
            {
                <tr> 
                    <td> 
                        @tradable.Symbol    
                    </td>    
                    <td id="TradableAmount_1_@tradable.Symbol">
                        @tradable.Amount
                    </td>
                        <td class="TradablePrice_@tradable.Symbol" data-label-number="1">
                        @{    
                            if (tradable.TradablePriceInfos != null)    
                            {    
                                string priceLabel = $"${stringFormatter.FormatDecimalPrice(tradable.TotalValue)}";    
                                @priceLabel    
                            }    
                        }    
                    </td>    
                    <td>    
                        <a href="/Tradables/Buy?Symbol=@tradable.Symbol">Buy</a>    
                        |    
                        <a href="/Tradables/Sell?Symbol=@tradable.Symbol">Sell</a>    
                    </td>    
                </tr>    
                }  
            }
        </tbody>
    </table>
</main>

<script>
    var ownershipJson = @Html.Raw(JsonSerializer.Serialize(Model.Tradables))
</script>

<partial name="_Footer" />
<partial name="_MarketConnectionScripts" />