@{
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions
    @model List<RealTimeStockSimulator.Models.Ownership>

    ViewData["title"] = "Users";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Users
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Portfolio value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Ownership ownership in Model)
                {
                    <tr>
                        <td>
                            @ownership.User.UserId
                        </td>
                        <td>
                            @ownership.User.UserName
                        </td>
                        <td>
                            $@FormatDecimalPrice(ownership.Tradables.GetTotalOwnershipValue())
                        </td>
                        <td>
                            <a href="/Users/Portfolio?UserId=@ownership.User.UserId">View portfolio</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />