@{
    @model RealTimeStockSimulator.Models.MultiOwnership
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions

    ViewData["title"] = "Users";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Users
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Portfolio value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Ownership ownership in Model.Ownerships)
                {
                    <tr>
                        <td>
                            @ownership.User.UserId
                        </td>
                        <td>
                            @ownership.User.UserName
                        </td>
                        <td>
                            $@FormatDecimalPrice(ownership.GetTotalValue(Model.TradablesDictionary))
                        </td>
                        <td>
                            <a href="/Users/Portfolio?UserId=@ownership.User.UserId">View portfolio</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />

<script>
    let multiOwnershipJson = @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions { IncludeFields = true}));
</script>
<partial name="_MarketConnectionScripts" />