@{
    @model RealTimeStockSimulator.Models.Asset
    @using static RealTimeStockSimulator.Models.Helpers.ImageEncoder
}

<td>
    <img class="asset-img" src="@(Model.ImagePath != null ? $"/img/{Model.ImagePath}" : "/img/PlaceholderAsset.png")" alt="Logo of @Model.Symbol" />
    <span class="ps-1">@(Model.Name != null ? Model.Name : "Unknown name")</span>
</td>
