<div class="alert alert-danger @(TempData["ErrorMessage"] == null ? "d-none" : "")" id="errorAlert" role="alert">
    An error has occured: <span id="errorMessageHolder">@(TempData["ErrorMessage"] != null ? TempData["ErrorMessage"] : "")</span>
</div>