<footer class="bg-dark d-flex justify-content-center align-items-center mt-3">
    <span class="container text-center text-light mx-auto">
        RealTimeStockSimulator made by Wessel B.
    </span>
</footer>