<footer class="bg-dark d-flex justify-content-center align-items-center">
    <span class="container text-center text-light mx-auto">
        &copy; 2025 - RealTimeStockSimulator Wessel B.
    </span>
</footer>