<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 primary-background-color">
    <div class="container-fluid">
        <span class="navbar-brand text-light">RealTimeStockSimulator</span>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" href="/Authentication/Logout">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Tradables/Index">Tradables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Users/Index">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Settings/Index">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Authentication/Logout">Transactions</a>
            </li>
            <li class="nav-item">
                <span class="nav-link text-light">
                    Money: $100.000,00
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link text-light">
                    Logged in as Bruhman
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Authentication/Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>