@{
    @inject RealTimeStockSimulator.Models.Interfaces.IStringFormatter stringFormatter
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 primary-background-color">
    <div class="container-fluid">
        <span class="navbar-brand text-light">RealTimeStockSimulator</span>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" href="/Portfolio/Index">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Tradables/Index">Tradables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Users/Index">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Settings/Index">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Transactions/Index">Transactions</a>
            </li>
            <li class="nav-item">
                <span class="nav-link text-light">
                    @{
                        decimal money = 0;

                        if (ViewBag.LoggedInUser != null)
                        {
                            money = ViewBag.LoggedInUser.Money;
                        }
                    }
                    
                    Money: $@stringFormatter.FormatDecimalPrice(money)
                </span>
            </li>
            <li class="nav-item">
                <span class="nav-link text-light">
                    Logged in as @ViewBag.LoggedInUser?.UserName
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/Authentication/Logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>