:root {
    --primary-color: #25aa7bff;
    --light-primary-color: #a4e7cfff;
    --dark-primary-color: #1f8662ff;
}

main {
    min-height: calc(100vh - 187px);
}

.primary-background-color {
    background-color: var(--primary-color);
}

.primary-text-color {
    color: var(--primary-color);
}

.primary-custom-btn {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.primary-custom-btn:hover {
    background-color: var(--dark-primary-color);
    color: #FFFFFF;
}

footer {
    display: flex;
    height: 90px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.nav-link {
    border-radius: 25px;
}

.nav-hover:hover {
    background-color: #2dc992ff;
}

.nav-pill-enabled {
    background-color: var(--dark-primary-color);
}

.auth-main {
    height: 100vh;
    background-color: var(--light-primary-color);
}

.auth-box {
    max-width: 480px;
}

up-price-update, td.up-price-update, span.up-price-update {
    animation: flash-green 1s ease-out;
}

down-price-update, td.down-price-update, span.down-price-update {
    animation: flash-red 1s ease-out;
}

.leaderboard-table tbody {
    display: flex;
    flex-direction: column;
}

.leaderboard-table tr {
    display: flex;
}

.leaderboard-table thead th,
.leaderboard-table tbody td {
    flex: 1;
    display: flex;
    align-items: center;
}

table td {
    vertical-align: middle; 
}

.tradable-img {
    object-fit: contain;
    height: 40px;
    width: 40px;
    border-radius: 7px;
}

@keyframes flash-green {
    0% {
        background-color: #00ff21;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes flash-red {
    0% {
        background-color: #ff0000;
    }

    100% {
        background-color: transparent;
    }
}