:root {
    --primary-color: #CB2E5D;
    --light-primary-color: #c98398;
}

.primary-background-color {
    background-color: var(--primary-color);
}

.primary-text-color {
    color: var(--primary-color);
}

footer{
    height: 50px;
    text-align:center;
}

.auth-main {
    height: 100vh;
    background-color: var(--light-primary-color);
}

.auth-box {
    max-width: 480px;
}

up-price-update, td.up-price-update, span.up-price-update {
    animation: flash-green 1s ease-out;
}

down-price-update, td.down-price-update, span.down-price-update {
    animation: flash-red 1s ease-out;
}

.leaderboard-table tbody {
    display: flex;
    flex-direction: column;
}

.leaderboard-table tr {
    display: flex;
}

.leaderboard-table thead th,
.leaderboard-table tbody td {
    display: flex;
    flex-grow: 1;
}

.leaderboard-table tbody tr {
    transition: transform 0.3s ease;
}

@keyframes flash-green {
    0% {
        background-color: #00ff21;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes flash-red {
    0% {
        background-color: #ff0000;
    }

    100% {
        background-color: transparent;
    }
}