@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="/Authentication/LoginIntoAccount">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Your username" required/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Your password" required/>

    <input type="submit" value="Login"/>
</form>