USE [master]
GO
/****** Object:  Database [MarketSimulator]    Script Date: 24-4-2026 22:44:38 ******/
CREATE DATABASE [MarketSimulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketSimulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MarketSimulator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketSimulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MarketSimulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketSimulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketSimulator]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 24-4-2026 22:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[symbol] [varchar](50) NOT NULL,
	[name] [varchar](100) NULL,
	[image_path] [varchar](300) NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tradable] PRIMARY KEY CLUSTERED 
(
	[symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ownership]    Script Date: 24-4-2026 22:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ownership](
	[user_id] [int] NOT NULL,
	[symbol] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 24-4-2026 22:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[user_id] [int] NOT NULL,
	[symbol] [varchar](50) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Transactions_transaction_id] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-4-2026 22:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[money] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Assets] ([symbol], [name], [image_path], [type]) VALUES (N'AAPL', N'Apple', N'Assets/AAPL.png', N'Stock')
INSERT [dbo].[Assets] ([symbol], [name], [image_path], [type]) VALUES (N'ASML', N'ASML', N'Assets/ASML.png', N'Stock')
INSERT [dbo].[Assets] ([symbol], [name], [image_path], [type]) VALUES (N'BINANCE:BTCUSDT', N'Bitcoin', N'Assets/BTC.png', N'Crypto')
GO
INSERT [dbo].[Ownership] ([user_id], [symbol], [amount]) VALUES (35, N'AAPL', 3)
INSERT [dbo].[Ownership] ([user_id], [symbol], [amount]) VALUES (35, N'BINANCE:DOGEUSDT', 1)
INSERT [dbo].[Ownership] ([user_id], [symbol], [amount]) VALUES (36, N'NVDA', 17)
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([user_id], [symbol], [price], [status], [amount], [transaction_id], [date]) VALUES (35, N'AAPL', CAST(9378.54 AS Decimal(18, 2)), N'Bought', 3, 159, CAST(N'2026-04-24T22:40:24.423' AS DateTime))
INSERT [dbo].[Transactions] ([user_id], [symbol], [price], [status], [amount], [transaction_id], [date]) VALUES (35, N'BINANCE:DOGEUSDT', CAST(8008.82 AS Decimal(18, 2)), N'Bought', 1, 160, CAST(N'2026-04-24T22:40:30.040' AS DateTime))
INSERT [dbo].[Transactions] ([user_id], [symbol], [price], [status], [amount], [transaction_id], [date]) VALUES (36, N'NVDA', CAST(5607.46 AS Decimal(18, 2)), N'Bought', 17, 161, CAST(N'2026-04-24T22:40:50.153' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [email], [password], [money]) VALUES (35, N'TestUser1', N'TestUser1@TestUser1.com', N'jlJO7zWiYi75tWQU0GsPHpvb3V6KM20SuB3KAU0mTO4=', CAST(63855.56 AS Decimal(18, 2)))
INSERT [dbo].[Users] ([user_id], [username], [email], [password], [money]) VALUES (36, N'TestUser2', N'TestUser2@TestUser2.com', N'7bLjf5CCUJfB1gg9mU78dB0iCeOS+Rtqu9Q3cqOgJ/g=', CAST(4673.17 AS Decimal(18, 2)))
INSERT [dbo].[Users] ([user_id], [username], [email], [password], [money]) VALUES (37, N'TestUser3', N'TestUser3@TestUser3.com', N'98RTQaq8ai4HGypYo+7h9pbaSu2fARk6S+kFK6V9ojo=', CAST(3815.57 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Assets] ADD  CONSTRAINT [DF_Tradables_type]  DEFAULT ('Other') FOR [type]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_status]  DEFAULT ('Bought') FOR [status]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_amount]  DEFAULT ((1)) FOR [amount]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transactions_date]  DEFAULT ('2020-01-01 00:00:00') FOR [date]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_money]  DEFAULT ((0)) FOR [money]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Tradable] FOREIGN KEY([symbol])
REFERENCES [dbo].[Assets] ([symbol])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Tradable]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Tradable] FOREIGN KEY([symbol])
REFERENCES [dbo].[Assets] ([symbol])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Tradable]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
USE [master]
GO
