@{
    @model List<Tradable>;

    ViewData["title"] = "Tradables";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Tradables
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    AAPL
                </td>
                <td>
                    1.00$
                </td>
                <td>
                    <a href="/Tradables/Buy?Symbol=AAPL">Buy</a>
                    |
                    <a href="/Tradables/Sell?Symbol=AAPL">Sell</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<partial name="_Footer" />