@{
    @model List<Tradable>;

    ViewData["title"] = "Tradables";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Tradables
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Tradable tradable in Model)
            {
                <tr>
                    <td>
                        @tradable.Symbol
                    </td>
                    <td class="TradablePrice_@tradable.Symbol">
                        @tradable.Price$
                    </td>
                    <td>
                        <a href="/Tradables/Buy?Symbol=@tradable.Symbol">Buy</a>
                        |
                        <a href="/Tradables/Sell?Symbol=@tradable.Symbol">Sell</a>
                    </td>
                </tr>
            }
            @foreach (Tradable tradable in Model)
            {
                <tr>
                    <td>
                        @tradable.Symbol
                    </td>
                    <td class="TradablePrice_@tradable.Symbol">
                        @tradable.Price$
                    </td>
                    <td>
                        <a href="/Tradables/Buy?Symbol=@tradable.Symbol">Buy</a>
                        |
                        <a href="/Tradables/Sell?Symbol=@tradable.Symbol">Sell</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />
<partial name="_MarketConnectionScripts" />