@{
    @model List<Tradable>;
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter

    ViewData["title"] = "Tradables";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Tradables
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tradable tradable in Model)
            {
                <tr>
                    <td>
                        @tradable.Symbol
                    </td>
                    <td data-price-symbol="@tradable.Symbol" data-price="@FormatDecimalToJsDecimal(tradable.TradablePriceInfos.Price)">
                        $@FormatDecimalPrice(tradable.TradablePriceInfos.Price)
                    </td>
                    <td>
                        <a href="/Tradables/Buy?Symbol=@tradable.Symbol">Buy</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />
<partial name="_MarketConnectionScripts" />