@{
    @model List<Tradable>;
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using static RealTimeStockSimulator.Models.Enums.NavEnabled;

    ViewData["title"] = "Assets";
    ViewBag.NavEnabled = Assets;
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Assets
    </h1>
    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th>
                    Asset
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tradable tradable in Model)
            {
                <tr>
                    <td>
                        <img class="tradable-img" src="" alt="Logo of name" />
                        <span class="tradable-name">testname</span>
                    </td>
                    <td>
                        @tradable.Symbol
                    </td>
                    <td data-price-symbol="@tradable.Symbol" data-price="@FormatDecimalToJsDecimal(tradable.TradablePriceInfos.Price)">
                        $@FormatDecimalPrice(tradable.TradablePriceInfos.Price)
                    </td>
                    <td>
                        <a class="btn primary-custom-btn" href="/Tradables/Buy?Symbol=@tradable.Symbol">Buy</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />
<partial name="_MarketConnectionScripts" />